In [3]:
import pandas as pd
import sqlite3

In [7]:
from datetime import datetime

today = datetime.today().date()
print(today)

2023-01-14

In [9]:
conn = sqlite3.connect("db/test.db")
cur = conn.cursor()
cur.execute(f"SELECT * FROM work_time_data WHRER work_time_data.WorkDate ==  {today}")

rows = cur.fetchall()

cols = [column[0] for column in cur.description]

data_df = pd.DataFrame.from_records(data=rows, columns=cols)

conn.close()

data_df

   id   Memo  GoalTime    WorkDate StartTime   EndTime
0   1  memo1         5  2023-01-14  12:00:00  15:15:12
1   2  memo2         5  2023-01-14  12:00:00  15:15:12
2   3  memo3         5  2023-01-14  12:00:00  15:15:12

In [15]:
datas = data_df[data_df['WorkDate'] == '2023-01-14'].to_numpy()
datas

array([[1, 'memo1', 5, '2023-01-14', '12:00:00', '15:15:12'],
       [2, 'memo2', 5, '2023-01-14', '12:00:00', '15:15:12'],
       [3, 'memo3', 5, '2023-01-14', '12:00:00', '15:15:12']],
      dtype=object)

In [23]:
def sub_time(start_time, end_time) -> float:
    _start_time = start_time.split(':')
    start_hour = _start_time[0]
    start_min = _start_time[1]
    start_sec = _start_time[2]

    _end_time = end_time.split(':')
    end_hour = _end_time[0]
    end_min = _end_time[1]
    end_sec = _end_time[2]

    time_duration = (end_hour - start_hour) + (end_min - start_min) / 60 + (end_sec - end_sec) / 60*60
    return '{:.2f}'.format(time_duration)

In [24]:
print(sub_time(datas[0][-2], datas[0][-1]))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [25]:
data

NameError: name 'data' is not defined